/* ==== Estilo General === */
body {
    margin: 0;
    background-color: #B9D7A8;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Centrado de contenedores */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    background: none;
}

.navbar {
    background: #ffffff;
    border-radius: 15px;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #00341c;
    font-weight: bold;
}

.nav-icons img {
    width: 24px;
    margin-left: 15px;
    cursor: pointer;
}

/* Caja principal del login/registro */
.login-box, .register-box {
    background: #ffffff;
    width: 450px;
    border-radius: 8px;
    padding: 35px 20px;
    text-align: center;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

/* Títulos */
h2 {
    font-size: 26px;
    margin-bottom: 5px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 25px;
}

/* Campos de entrada */
.input-group {
    margin: 10px 0;
}

input {
    width: 80%;
    height: 35px;
    border: 2px solid #666;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 10px;
}

/* Botón principal */
.btn-login,
.btn-register {
    margin-top: 20px;
    width: 200px;
    height: 45px;
    background: #28A745;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.btn-login:hover,
.btn-register:hover {
    background: #22963b;
}

/* Enlaces */
.links {
    display: flex;
    gap: 0.75rem;     
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    font-size: 14px;
}

.links a {
    color: #005cbf;
    text-decoration: none;
    font-weight: bold;
}

.links a:hover {
    text-decoration: underline;
}

.link-back {
    display: block;
    margin-bottom: 10px;
}

footer {
    background: #5e9e54;
    padding: 40px;
    margin-top: auto;
    text-align: center;
    color: #fff;
    position: relative;
    clear: both;
    z-index: 0;
}